{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "preact",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "varsIgnorePattern": "^_" }
    ],

    "@typescript-eslint/no-empty-function": "off",
    "prettier/prettier": "error"
  },
  "globals": {
    // These are globally-available types (not even variables)
    "NodeListOf": false,
    "SubthemeType": false,
    "SubthemeModeSelectorType": false
  }
}
