<div id="primer-spec-top"></div>
<!-- Custom sidebar with a table of content -->
<!-- 
    The explicit onClick handler is needed to force Safari (iOS) to propagate
    click events for the sidebar.
-->
<div class="primer-spec-sidebar position-fixed top-0 py-5 no-print"  onClick="return true;">
    <h2 class="primer-spec-toc-ignore" id="contents">
        Contents
        <!-- Show/Hide Sidebar button -->
        <span class="primer-spec-hoverable">
            <a href="#primer-spec-top" class="primer-spec-sidebar-toggle primer-spec-hoverable sidebar-shown no-print">
                <i class="fas fa-bars"></i>
            </a>
        </span>
    </h2>
    <br>
    <div id="primer-spec-toc"></div>
</div> <!-- .primer-spec-sidebar -->

<div class="primer-spec-topbar position-fixed width-full top-0 left-0 py-2 no-print">
    <!-- Show/Hide Sidebar button -->
    <a href="#primer-spec-top" class="primer-spec-sidebar-toggle primer-spec-sidebar-toggle-fixed primer-spec-hoverable primer-spec-float-left sidebar-shown no-print">
        <i class="fas fa-bars"></i>
    </a>
    <!-- Show Settings button -->
    <a href="#primer-spec-top" class="primer-spec-settings-toggle primer-spec-hoverable primer-spec-float-right no-print">
        <i class="fas fa-cog"></i>
    </a>
    <!-- Hide Settings button -->
    <a href="#primer-spec-top" class="primer-spec-settings-toggle primer-spec-settings-toggle-hidden primer-spec-hoverable primer-spec-float-right no-print">
        <i class="fas fa-times"></i>
    </a>
</div>

<!--
    Settings modal. Treat it exactly like the actual content, but its
    position on the page is fixed.
    It should be displayed when the "settings" icon is clicked.
-->
<div class="primer-spec-settings-container position-fixed top-0 left-0 width-full height-full">
    <div class="primer-spec-settings container-lg markdown-body primer-spec-content-margin-extra px-3 my-5">
        <h1 class="primer-spec-toc-ignore">Spec Theme Settings</h1>
        <p>Choose your theme!</p>
        <select class="primer-spec-subtheme-selector">
        </select>
    
        <hr>
    
        <p><small>
            Does the spec display incorrectly? <a href="https://github.com/eecs485staff/primer-spec/issues">Let us know by adding a new "issue" here.</a>
        </small></p>
    
        <p class="primer-spec-brand">
            <a href="https://github.com/eecs485staff/primer-spec/" target="_blank">
                Primer Spec v{{ primer_spec_version }}
            </a>
        </p>
    
    </div>
</div>
