<!--
    The content in this file should be included in the <body> tag, before the
    main theme JavaScript code is included.
-->

<!-- Add new subtheme names to the list below. -->
{% capture raw_theme_names %}
    default,
    bella,
    modern,
    xcode-dark,
{% endcapture %}
{% assign themes = raw_theme_names | strip_newlines | remove: ' ' | split: ',' %}

<!-- This generates the list of available themes based on the list. -->
<script>
    function availableSubthemes() {
        return [
        {% for theme in themes %}
            {% if theme %}
            {
                'name': '{{ theme }}',
                'url': "{{ base_url }}/assets/css/theme_{{ theme }}.css",
            },
            {% endif %}
        {% endfor %}
        ];
    }
</script>

<script src="{{ base_url }}/assets/js/spec_main.js"></script>
