$SIDEBAR_WIDTH: 18em;
$SIDEBAR_CONTENT_MARGIN: 0.5em;
$SIDEBAR_BG_COLOR: white;
$SIDEBAR_RIGHT_BORDER_STYLE: 1px solid lightgrey;
$SIDEBAR_ACTIVE_ITEM_COLOR: yellow;

$ICON_FONT_SIZE: 2em;
$ICON_HOVER_COLOR: rgb(211, 85, 2);
$TOPBAR_HEIGHT: $ICON_FONT_SIZE * 2;
