$SIDEBAR_WIDTH: 18em;
$SIDEBAR_CONTENT_MARGIN: 0.5em;
$SIDEBAR_BG_COLOR: white;
$SIDEBAR_RIGHT_BORDER_STYLE: 1px solid lightgrey;
$SIDEBAR_ACTIVE_ITEM_COLOR: yellow;

$ICON_FONT_SIZE: 2em;
$ICON_HOVER_COLOR: rgb(211, 85, 2);
$TOPBAR_HEIGHT: $ICON_FONT_SIZE * 2;

// For students printing out the spec, don't print the sidebar and icons.
@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}

.primer-spec-sidebar {
    width: $SIDEBAR_WIDTH;
    padding-left: 1em;
    height: 100%;
    overflow: scroll;
    border-right: $SIDEBAR_RIGHT_BORDER_STYLE;

    // To make the sidebar appear on top of the topbar on mobile
    z-index: 1;

    // Need to set a background color because the sidebar overlays on top of
    // the content. (By default, the element has a transparent background.)
    background-color: $SIDEBAR_BG_COLOR;

    &-toggle-fixed {
        font-size: $ICON_FONT_SIZE;
        &.sidebar-shown {
            display: none;
        }
    }
}

.primer-spec-settings-toggle {
    font-size: $ICON_FONT_SIZE;
}

.primer-spec-topbar {
    height: $TOPBAR_HEIGHT;
    &-mobile {
        // On mobile, the background prevents the icons from interfering
        // with the text. Use with .primer-spec-content-mobile.
        background-color: white;
    }
}

.primer-spec-float {
    &-left {
        position: absolute;
        left: 1em;
    }
    &-right {
        position: absolute;
        right: 1em;
    }
}

.primer-spec-hoverable {
    &:hover {
        color: $ICON_HOVER_COLOR;
        text-decoration: none;
    }
}

.primer-spec-content {
    &-margin-extra {
        // When the sidebar is shown, this ensures that the body of the page
        // does not overlap with the sidebar.
        // This is not done on small screens, because the sidebar overlays
        // on top of the content.
        margin-left: $SIDEBAR_WIDTH + $SIDEBAR_CONTENT_MARGIN;
    }
    &-margin-auto {
        // When the sidebar is not shown, this ensures that the body of the
        // page stays centered like the default theme.
        margin-left: auto;
    }
    &-mobile {
        // On mobile, make space for the topbar.
        padding-top: $ICON_FONT_SIZE;
    }
}

.primer-spec-toc {
    &-h1 {
        margin-left: auto;
        margin-top: 0.7em;
        font-weight: bold;
        font-size: 1.2em;
    }
    &-h2 {
        margin-left: 12px;
        margin-top: 0.5em;
        font-weight: bold;
        font-size: 1.2em;
    }
    &-h3 {
        margin-left: 24px;
        margin-top: 0.3em;
        font-size: 1em;
    }
    &-h4 {
        margin-left: 36px;
        font-style: italic;
        font-size: 0.9em;
    }
    &-h5 {
        margin-left: 48px;
        font-size: 0.8em;
    }
    &-h6 {
        margin-left: 56px;
        font-size: 0.7em;
    }
    &-active {
        background-color: $SIDEBAR_ACTIVE_ITEM_COLOR;
    }
}

.primer-spec-settings {
    background-color: white;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: none;
}
