@import 'default_theme.scss';

$SIDEBAR_WIDTH: 18em;
$SIDEBAR_CONTENT_MARGIN: 0.5em;
$SIDEBAR_RIGHT_BORDER_STYLE: 1px solid var(--sidebar-border-color, lightgrey);

$ICON_FONT_SIZE: 28px;
$ICON_HOVER_COLOR: rgb(211, 85, 2);
$TOPBAR_HEIGHT: $ICON_FONT_SIZE * 2;

// To ensure correct visual layering of the components on the page, we need
// to specify these z-indices.
// The sidebar is *always* on top of the topbar, which is always on top of
// the settings modal.
// When the settings modal is shown, it should always on top of any main
// content (including MathJax content, which has z-index 1).
$Z_INDEX_SETTINGS: 2;
$Z_INDEX_TOPBAR: 3;
$Z_INDEX_SIDEBAR: 4;

// For students printing out the spec, don't print the sidebar and icons.
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

/* Sidebar */

.primer-spec-sidebar {
  width: $SIDEBAR_WIDTH;
  padding-left: 1em;
  height: 100%;
  overflow: auto;
  border-right: $SIDEBAR_RIGHT_BORDER_STYLE;

  // To make the sidebar appear on top of the topbar on mobile
  z-index: $Z_INDEX_SIDEBAR;

  // Need to set a background color because the sidebar overlays on top of
  // the content. (By default, the element has a transparent background.)
  background-color: var(--sidebar-bg-color);

  color: var(--sidebar-toc-section-link-color);

  // These are headers within the sidebar
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--sidebar-heading-text-color);
    :link,
    :visited {
      color: var(--sidebar-heading-link-color);
    }
  }

  .left-space-fix {
    // We want the background-border to extend a bit to the left. We
    // achieve this by moving the entire element to the left, and then
    // adding padding to keep the content's position unchanged.
    margin-left: -0.5em;
    padding-left: 0.5em;
  }

  details {
    & > summary {
      // Match the H1 styles
      font-size: 1.2em;
      margin-top: 0.7em;
      font-weight: bold;
      color: var(--sidebar-toc-h1-link-color);
      &.primer-spec-toc-active {
        color: var(
          --sidebar-active-toc-h1-section-link-color,
          var(--sidebar-active-toc-section-link-color)
        );
      }
    }

    details > summary {
      // Match the H2 styles
      font-size: 1.2em;
      margin-top: 0.5em;
      font-weight: 500;
      color: var(--sidebar-toc-h2-link-color);
      &.primer-spec-toc-active {
        color: var(
          --sidebar-active-toc-h2-section-link-color,
          var(--sidebar-active-toc-section-link-color)
        );
      }
    }

    hr {
      border-color: var(--sidebar-toc-h1-border-color);
    }

    .external-icon {
      font-size: 80%;
    }
  }
}

.primer-spec-topbar {
  height: $TOPBAR_HEIGHT;
  // We don't want the Topbar to register click events. This allows clicks to
  // pass-through to underlying main-content.
  pointer-events: none;
  z-index: $Z_INDEX_TOPBAR;
}

/**
 * On mobile (when the topbar is displayed), create an invisible pseudo-element
 * and make it the height of the sticky navbar so the jump takes you to a
 * location above the AnchorJS link.
 */
@media only screen and (max-width: 900px) {
  :target:before {
    content: '';
    display: block;
    margin-top: -$TOPBAR_HEIGHT;
    height: $TOPBAR_HEIGHT;
    width: 1px;
  }
}

.primer-spec-float {
  &-left {
    position: absolute;
    left: 1em;
  }
  &-right {
    position: absolute;
    right: 1em;
  }
}

.primer-spec-content {
  &-margin-extra {
    // When the sidebar is shown, this ensures that the body of the page
    // does not overlap with the sidebar.
    // This is not done on small screens, because the sidebar overlays
    // on top of the content.
    margin-left: $SIDEBAR_WIDTH + $SIDEBAR_CONTENT_MARGIN;
  }
  &-margin-auto {
    // When the sidebar is not shown, this ensures that the body of the
    // page stays centered like the default theme.
    margin-left: auto;
  }
  &-mobile {
    // On mobile, make space for the topbar.
    padding-top: $ICON_FONT_SIZE;
  }
}

// These are section headers in the sidebar
.primer-spec-toc {
  &-list {
    list-style-type: none;
  }
  &-item {
    // Prevent header items from ending too near the border of the Sidebar
    padding-right: 1em;

    // If a heading item is too long and cannot be broken by the browser,
    // don't expand the width of the entire Sidebar. Instead, only make the
    // "offending" heading scrollable. (Kind-of-like how we currently treat
    // code-blocks and LaTeX on small screens.)
    overflow-x: auto;
    // But don't show vertical scrollbars, they look jarring.
    overflow-y: hidden;
  }
  &-sitemap-item {
    // Needs to be `padding`. `margin` cuts off background color of child
    // elements!
    padding-left: 1em;
    overflow-x: auto;
    overflow-y: hidden;

    &:not(.primer-spec-toc-active) {
      color: var(--sidebar-toc-h1-link-color) !important;
    }
  }

  &-h1 {
    margin-left: auto;
    margin-top: 0.7em;
    font-weight: bold;
    font-size: 1.2em;

    &:not(.primer-spec-toc-active) {
      &:link,
      &:visited,
      :link,
      :visited {
        color: var(--sidebar-toc-h1-link-color) !important;
      }
    }

    // Only show the section border for H1 sections
    & + .primer-spec-toc-section {
      margin-left: 1em;
      border-left: 0.15em solid var(--sidebar-toc-h1-border-color);
    }
  }
  &-h2 {
    margin-left: 12px;
    margin-top: 0.5em;
    // medium font-weight (normal is 400, bold is 700)
    font-weight: 500;
    font-size: 1.2em;

    &:not(.primer-spec-toc-active) {
      &:link,
      &:visited,
      :link,
      :visited {
        color: var(--sidebar-toc-h2-link-color) !important;
      }
    }
  }
  &-h3 {
    margin-top: 0.3em;
    font-size: 1em;
  }
  &-h4 {
    font-style: italic;
    font-size: 0.9em;
  }
  &-h5 {
    font-size: 0.8em;
  }
  &-h6 {
    font-size: 0.7em;
  }
  // H1 and H2 may need different active styles than the rest. SO:
  &-active.primer-spec-toc-h1 {
    &:link,
    &:visited,
    :link,
    :visited {
      color: var(
        --sidebar-active-toc-h1-section-link-color,
        var(--sidebar-active-toc-section-link-color)
      );
    }
  }
  &-active.primer-spec-toc-h2 {
    &:link,
    &:visited,
    :link,
    :visited {
      color: var(
        --sidebar-active-toc-h2-section-link-color,
        var(--sidebar-active-toc-section-link-color)
      );
    }
  }
  // H3+ can use the default values
  &-active {
    background-color: var(--sidebar-active-toc-section-bg-color);
    border-radius: 5px 0px 0px 5px;
    &:link,
    &:visited,
    :link,
    :visited {
      color: var(--sidebar-active-toc-section-link-color) !important;
    }
  }
  &-item:not(.primer-spec-toc-active) {
    color: var(--sidebar-toc-section-link-color);
    &:link,
    &:visited,
    :link,
    :visited {
      color: var(--sidebar-toc-section-link-color);
    }
  }

  // Use the MarkDown body styles for inline code blocks in the Sidebar.
  code,
  tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba($black, 0.05);
    border-radius: $border-radius;

    br {
      display: none;
    }
  }
}

// Attribute selector for all primer-spec-toc-* classes
div[class^='primer-spec-toc-'],
.primer-spec-toc-section {
  padding-left: 0.5em;
  margin-left: 0em;
}

.primer-spec-settings {
  width: 100%;
  height: 100%;

  .primer-spec-brand a {
    color: rgb(170, 167, 167);
    font-size: small;
  }

  &-container {
    background-color: var(--main-bg-color);
    z-index: $Z_INDEX_SETTINGS;
  }
}

/* Main Content */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-heading-text-color);
  :link,
  :visited {
    color: var(--main-heading-link-color);
  }

  .markdown-body & {
    border-bottom: 1px solid var(--main-header-border-bottom-color, #eaecef);
  }
}

:link,
:visited {
  color: var(--main-link-color);
}

.primer-spec-hoverable {
  font-size: $ICON_FONT_SIZE;
  color: var(--main-link-color) !important;
  // Reset pointer events because the Topbar disables this.
  pointer-events: auto;
  :hover {
    color: var(--hoverable-link-hover-color) !important;
    text-decoration: none;
  }

  #primer-spec-toc-contents > &.primer-spec-hoverable-float-right {
    float: right;
    margin-right: 0.5em;
  }
}

// Add fancy background colors for the entire page.
body,
.markdown-body,
.primer-spec-topbar-mobile {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

// We reuse this mixin to define theme color properties for tables and
// code-blocks.
@mixin theme-colors($property-name, $bg-color-fallback) {
  color: var(--#{$property-name}-text-color, inherit);
  background-color: var(--#{$property-name}-bg-color, $bg-color-fallback);
  border: var(--#{$property-name}-border, inherit);
  border-radius: var(--#{$property-name}-border-radius, inherit);
}

// Add the same background colors to code-blocks in the Sidebar.
.primer-spec-toc {
  code,
  tt {
    @include theme-colors(tt, rgba(27, 31, 35, 0.05));
  }

  .primer-spec-toc-active {
    code,
    tt {
      @include theme-colors(sidebar-tt-active, inherit);
    }
  }
}

.markdown-body {
  // These are user-defined preformatted blocks.
  :not(.highlight) {
    & > pre:not(.highlight),
    & > code,
    & > tt {
      @include theme-colors(tt, rgba(27, 31, 35, 0.05));
    }
  }

  // These are code blocks with syntax highlighting by Rogue
  .highlight pre.highlight,
  pre {
    @include theme-colors(main-table-pre, #f6f8fa);
  }

  table tr {
    @include theme-colors(main-table-pre, #f6f8fa);
  }

  // In the original Primer theme, every other row is colored contrastively.
  // In dark themes, it doesn't look great.
  table tr:nth-child(2n) {
    background-color: var(--main-table-pre-bg-color, #f6f8fa);
  }

  blockquote {
    color: var(--main-blockquote-text-color);
    border-left: 0.25em solid var(--main-blockquote-text-border, #dfe2e5);
  }
}

// Hide the main content, we'll use it to hydrate the MainContent component.
#primer-spec-plugin-main-content {
  display: none;
}

// Task List styling *should* have been included in Primer CSS, but it looks
// like they missed to include the styles! Here's a fix for Primer Spec pages,
// we can remove this fix after Primer CSS has been updated.
li.task-list-item {
  list-style-type: none;
}
li.task-list-item .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.6em;
}
