// default_theme.scss

// These are initial default values for the CSS theming properties.
:root {
  --sidebar-bg-color: white;
  --sidebar-heading-link-color: #0366d6;

  --sidebar-toc-h1-link-color: #0366d6;
  --sidebar-toc-h1-border-color: lightgrey;
  --sidebar-toc-h2-link-color: #0366d6;

  --sidebar-active-toc-section-bg-color: #faed27; // This happens to be Crayola yellow
  --sidebar-active-toc-section-link-color: black;
  --sidebar-active-toc-h1-section-link-color: #0366d6;
  --sidebar-active-toc-h2-section-link-color: #0366d6;
  --sidebar-toc-section-link-color: black;

  --sidebar-resize-handle: #ccc;

  --main-heading-link-color: #0366d6;
  --main-link-color: #0366d6;
  --tt-border-radius: 3px;
  --hoverable-link-hover-color: rgb(211, 85, 2);

  --main-bg-color: white;
  --main-blockquote-text-color: #6a737d;
  --main-blockquote-text-border: #dfe2e5;
  --main-image-border-color: #eaecef;
  --main-image-border-color-inverted: #21262d;

  --code-block-default-color: black;
  --code-block-border-color: #e1e4e8;
  --code-block-header-bg-color: #f6f8fa;
  --code-block-bg-color: white;
  --code-block-line-number-color: #6e7781;
  --code-block-highlight-bg-color: #fff8c5;
  --code-block-highlight-shadow-color: rgba(212, 167, 44, 0.4);
  --code-block-button-color: #24292f;
  --code-block-button-bg-color: #f6f8fa;
  --code-block-button-border-color: rgba(27, 31, 36, 0.15);
  --code-block-button-shadow: 0 1px 0 rgba(27, 31, 36, 0.04);
  --code-block-button-shadow-inset: 0 1px 0 rgba(255, 255, 255, 0.25);
  --code-block-button-hover-bg-color: #f3f4f6;
  --code-block-button-hover-border-color: var(--code-block-button-border-color);

  --tooltip-background-color: #1b1f23;
  --tooltip-color: white;
  --kbd-border-color: rgba(175, 184, 193, 0.2);
}
