// This is the default theme (based on the default Primer theme from GitHub).

@import "base.scss";

.primer-spec-sidebar {
    background-color: white;
}

.primer-spec-sidebar-toggle {
    &:hover {
        color: rgb(211, 85, 2);
    }
}

.primer-spec-toc {
    &-active {
        background-color: yellow;
    }
}
