// default_theme.scss

// These are initial default values for the CSS theming properties.
:root {
  --sidebar-bg-color: white;
  --sidebar-heading-link-color: #0366d6;

  --sidebar-toc-h1-link-color: #0366d6;
  --sidebar-toc-h1-border-color: lightgrey;
  --sidebar-toc-h2-link-color: #0366d6;

  --sidebar-active-toc-section-bg-color: #faed27; // This happens to be Crayola yellow
  --sidebar-active-toc-section-link-color: black;
  --sidebar-active-toc-h1-section-link-color: #0366d6;
  --sidebar-active-toc-h2-section-link-color: #0366d6;
  --sidebar-toc-section-link-color: black;

  --main-heading-link-color: #0366d6;
  --main-link-color: #0366d6;
  --tt-border-radius: 3px;
  --hoverable-link-hover-color: rgb(211, 85, 2);

  --main-bg-color: white;
  --main-blockquote-text-color: #6a737d;
  --main-blockquote-text-border: #dfe2e5;

  --gist-default-color: black;
  --gist-border-color: #e1e4e8;
  --gist-header-bg-color: #f6f8fa;
  --gist-bg-color: white;
  --gist-line-number-color: #6e7781;
  --gist-highlight-bg-color: #fff8c5;
  --gist-highlight-shadow-color: rgba(212, 167, 44, 0.4);
  --gist-button-hover-color: #0366d6;

  --tooltip-background-color: #1b1f23;
  --tooltip-color: white;
}
